.App {
  text-align: center;
}

.fa-trash{
  color: red;
  cursor: pointer;
}
#summary{
  cursor: pointer;
}
.collection{
width: 100%;
}
.mini-trans{
  width: 50%;
  position: absolute;
}
@media only screen and (max-width: 748px) {
  .mini-trans{
    width: 100%;
  }
}